<div class="container-fluid bg-light position-fixed p-3 h-100">
    <%= link_to "Back", articles_path %>
    <%= form_with model: article do |form|%>
        <div>
            <%= form.label :title, class: "form-label form-control-sm" %>
            <%= form.text_field :title, class: 'form-control w-50' %>
        </div>
        <div>
            <%= form.label :body, class: "form-label form-control-sm" %>
            <%= form.text_area :body, class: 'form-control w-50' %>
        </div>
        <div>
            <%= form.label :author, class: "form-label form-control-sm" %>
            <%= form.text_field :author, class: 'form-control w-50' %>
        </div>
        <%=form.submit class: 'btn btn-primary' %>
    <%end%>
</div>